/* HERO SECTION */

.hero {
    height: 90vh;
    background-image: url(../../../../../assets/images/bgimg-hero.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #99D9F0;
    z-index: -1;
    opacity: 0.3;
}

.hero-text {
    padding-left: 5%;
    max-width: 50em;
    margin-bottom: 5rem;
    position: relative;
    animation: bounce-in-right 3s ease-in-out;
}

.hero-text h1 {
    font-size: var(--fs-h1);
    color: var(--clr-black);
    margin-bottom: 1rem;
    line-height: 115%;
}

.hero-text span {
    color: var(--clr-primary);
}

.hero-text p {
    max-width: 40ch;
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 140%;
}

@media (max-width: 1210px) {

    .hero {
        background-image: url(../../../../../assets/images/bgimg-small-screens.jpg);
        background-position: center top;
        justify-content: center;
    }

    .hero::after {
        opacity: 0.5;
    }

    .hero-text {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }
}